  <div class= "container form-horizontal text-center">
    
    <h1>Sign up now!</h1>
  <%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "First name", class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last name", class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
  </div>


  <div class="form-group">
      <%= f.label :email_address, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
          <%= f.email_field :email_address, class: "form-control" %>
      </div>
  </div>

  <div class ="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class ="form-group">
    <%= f.label :password_confirmation, "Password confirmation", class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5"> <br>
      <%= f.submit button_name:"Sign In", class: "btn btn-primary" %>
    </div>
  </div>
  <%end%>
</div>
