<div class="container text-center">

  <h2>Register for Meecro</h2>

  <div>
      <%= form_for @user, url: new_registration_path do |f| %>

    <div class="First Name">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:"form-control, col-sm-12" %>
    </div>

    <div class="Last Name">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:"form-control, col-sm-12" %>
    </div>

    <div class="Email">
      <%= f.label :email_address %>
      <%= f.email_field :email_address, class:"form-control, col-sm-12" %>
    </div>

    <div class="Password">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control, col-sm-12" %>

    <div class="Password Confirmation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"form-control, col-sm-12" %>
    </div>

    <hr>

        <%= submit_tag "Register", :class => 'btn btn-primary'%>

  <% end %>

  </div>
