<!DOCTYPE html>
<html>
<head>
  <title>Meecro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
   <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>Meecro</strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <%= link_to "Home", pages_path %>
                    <%= link_to "Services" %>
                    <%= link_to "FAQ", faq_index_path %>
                    <%= link_to "Sign Up", new_registration_path %>
                    <%= link_to "Log In" %>
                </ul>
            </div>

        </div>
    </div>
    <!-- navbar ends here -->

    <div class="jumbotron text-center">
      <h3>Welcome to Meecro</h3>
          <p>The premier web app to manage your life</p>

    </div>

<%= yield %>


<footer class="navbar-fixed-bottom">
      <div class = "container">
        <hr>
      <%= link_to_unless_current "About" %> |
      <%= link_to_unless_current "Terms" %> |
      <%= link_to_unless_current "FAQ" %> |
      <%= link_to_unless_current "Support" %>

        <div class = "icons">
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>


</body>
</html>
